.copyright {
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #333333;
  bottom: 0vh;

  }

  .copyright-text{
    position: relative;
      color: white;
    line-height: 50px;
    font-size: 1.2rem;
    text-align: center;
    
  }